
<app-login></app-login>
<h1 *ngIf="!isLoggedIn" class="margin-left"><a routerLink="/shop" i18n="@@welcome">Welcome to shop!</a></h1>
<h1 *ngIf="isLoggedIn" class="margin-left"><a routerLink="/admin" i18n="@@welcome">Welcome to shop!</a></h1>
<p *ngIf="!isLoggedIn" style="font-size:2em; color:green; position:absolute; right:1em; top:3em;">
  <mat-icon fontSet="fas" fontIcon="fa-shopping-cart" inline [matBadge]="itemsInCart" matBadgeColor="warn" [matBadgeHidden]="itemsInCart === 0" routerLink="/cart"></mat-icon>
</p>
<router-outlet></router-outlet>